body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pull-list-container {
  margin: 0 4vw 0 4vw;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-container {
  margin: 0 10vw 0 10vw;
  max-width: 80% !important;
}

.answer-rate {
  position: absolute;
  width: 100%;
  height: 48px;
  background-color: green;
}

.avatar {
  background-color: #eeeeee;
  border-radius: 50%;
  width: 64px !important;
  height: 64px !important;
  display: flex;
  justify-content: center;
  padding: 0px !important;
}
